mat-form-field {
    width: 100%;   
}

.mat-dialog-actions {
    // ...
    &[align='end'] {
      justify-content: flex-end;
    }
  
    &[align='center'] {
      justify-content: center;
    }

    &[align='start'] {
      justify-content:flex-start;
    }
  }

.mat-dialog-content{
  height: auto;
  overflow-y: hidden;
}

