table {
    width: 100%;
  }
 

.mat-header-cell {
  padding-left: 6px;   
  box-sizing: border-box;
  font-size: 11px; 
}
.mat-footer-cell,
.mat-cell {
  padding-left: 6px;   
  box-sizing: border-box;
  font-size: 12px; 
}