#sopi mat-form-field {
    width: 100%;
  }

  button {
      background-color: #ff4081;
  }

  .button-footer{
    background-color: #110580;
  }

  table {
    width: 100%;
  }
 

.mat-header-cell {
  padding-left: 6px;   
  box-sizing: border-box;
  font-size: 9px; 
}
.mat-footer-cell,
.mat-cell {
  padding-left: 6px;   
  box-sizing: border-box;
  font-size: 11px; 
}



  