#sopi mat-form-field {
    width: 100%;
  }

 
  button {
      background-color: #ff4081;
      margin-bottom: 15px;   
     
  }

  .button-footer{
    background-color: #110580;
  }

  table {
    width: 100%;
  }
 

.mat-header-cell {
  padding-left: 6px;   
  box-sizing: border-box;
  font-size: 12px; 
}
.mat-footer-cell,
.mat-cell {
  padding-left: 6px;   
  box-sizing: border-box;
  font-size: 13px; 
}



